.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
*.png
*.csv
/singlecell_rawdata/*
/results_stratified_rds/*
/reference_lib/*
/raw_stratified_rds/*
/raw_data_cambridge/*
/papers/*
/infercnv_output/*
/infercnv_inputs/*
/.idea/*
/plots/*
*._*
.DS_Store